body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.legend-item {
  margin-bottom: 5px;
}

.legend-item i {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

/* Add background color for each legend item based on earthquake depth */
.legend-item i[data-depth="0"] { background: #00FF00; }
.legend-item i[data-depth="10"] { background: #ADFF2F; }
.legend-item i[data-depth="30"] { background: #FFFF00; }
.legend-item i[data-depth="50"] { background: #CCCC00; }
.legend-item i[data-depth="70"] { background: #FF4500; }
.legend-item i[data-depth="90"] { background: #FF0000; }

/* Add background color for the tectonic plates legend item */
.legend-item i[data-plate] { background: #FFA500; }